<h3>Log In</h3>
<%= form_with model: @session, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br />

  <%= f.label :password %>
  <%= f.password_field :password %><br />
  
  <%= f.submit "Log In" %>
<% end %>
<p>No account yet? click here to <%= link_to "Sign Up", signup_path %></p>